@import '../../assests/scss/vars';

.small-nav {
  position: fixed;
  z-index: 1000;
  background-color: $special-color;
  grid-auto-columns: 1 / 3;
  width: 100%;
  display: none;
  margin-top: -5px;
  margin-right: -20px;
}

@media screen and(max-width: 1024px){
  .small-nav {
    display: grid;
  }

  .small-search{
    display: grid;
    justify-self: center;
  }
}