@import '../../assests/scss/vars';

.category-section{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  margin-right: -20px;
}
.left-section{
  grid-column: 1 / 2;
  background-color: $left-section-color;
}