.search{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  input {
    margin-right: 20px;
    height: 20px;
  }
}

@media screen and(max-width: 1024px){
  .search{
    grid-auto-flow: row;
    justify-items: center;
    padding-bottom: 10px;
    input{
      margin-right: 0px;
      margin-bottom: 10px;
    }
    button{
      margin: 0px;
    }
  }
}