@import '../../assests/scss/vars';

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 10px;
  background-color: $special-color;
  color: $header-font-color;
}

.header-section {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  margin-right: 10px;
}

.header-logo {
  font-weight: bold;
}

.main-menu {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  grid-template-columns: 1fr minmax(20px, 200px) 1fr;
}

.small-menu{
  display: none;
  margin-right: 20px;
  align-content: center;
}

@media screen and(max-width: 1024px){
  .main-menu, .header-search {
    display: none;
  }

  .small-menu {
    display: grid;
  }

  .header-section {
    justify-content: space-between;
  }
}
